@import '../../../../styles.scss';

#back-btn {
  font-family: $navFont;
    position: absolute;
    top: 25px;
    left: 3%;

}


@media(min-width: 800px) and (max-width: 1900px){

    .phase-header{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F1F1F2;

        .current-phase{
            font-size: 35px;
            margin: 0px;
            font-family: $navFont;
        }

    }

    .file-data-wrapper {
        position: relative;
        height: 515px;
        width: 70%;
        margin: 40px auto;
        box-shadow: 0px 0px 10px black;
        overflow: scroll;
    }

    .search-form-wrapper {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 70%;
        display: flex;
        justify-content: center;
        background-color: #f3f3f3;
        padding: 20px 0px;

        .search-form {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;


        }

        .search-input {
          border: 0;
          width: 60%;
          height: 30px;
          border-radius: 20px 0px 0px 20px;
          padding-left: 15px;
          outline: none;
          font-size: 15px;
        }

        .search-btn {
          background-color: #263659;
          border-radius: 0px 20px 20px 0px;
          border: none;
          color: white;
          height: 32px;
        }


    }


    // Section for the results when user searchs

    .search-display {
        display: flex;
        flex-direction: row;
        padding-top: 70px;
        padding-left: 15px;


        .search-saved-results {
            max-width: 250px;
            min-width: 250px;
            text-align: center;
        }

        .search-results {
            flex: 3;
            padding: 30px;
        }
    }

    .search-title {
        font-size: 20px;

    }

    .search-description {
        width: 90%;
    }

}