<nav class="container" >
  <ul class="nav-list" >
    <li class="dropdown" >
      <a class="dropdown-btn" href="#" >Course</a>
      <div class="dropdown-content" >
          <a class="dropdown-item" href="#">Zybook</a>
          <a class="dropdown-item" href="#">Placeholder</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropdown-btn" href="/portfolio/queens-college/phases">Search</a>
      <div class="dropdown-content" >
        <a class="dropdown-item" href="/portfolio/queens-college/phases/1"> Phase One</a>
        <a class="dropdown-item" href="#"> Phase Two</a>
        <a class="dropdown-item" href="#"> Phase Three</a>
        <a class="dropdown-item" href="#"> Phase Four</a>
        <a class="dropdown-item" href="#"> Phase Five</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropdown-btn" href="#"> Browser </a>
      <div class="dropdown-content">
        <a class="dropdown-item" href="#">Browser Info</a>
        <a class="dropdown-item" href="#">Window Info</a>
        <a class="dropdown-item" href="#">Screen Info</a>
        <a class="dropdown-item" href="#">Location Info</a>
        <a class="dropdown-item" href="#">Geolocation</a>
      </div>
    </li>
    <li class="dropdown" >
      <a class="dropdown-btn" href="#">About</a>
      <div id="dropdown-about" class="dropdown-content">
        <a class="dropdown-item" href="#">Developer</a>
        <a class="dropdown-item" href="#">Contact Me</a>
      </div>
    </li>
  </ul>
</nav>
