<nav class="container" >
  <ul class="nav-list" >
    <li class="dropdown" >
      <a class="dropdown-btn" href="#" >Course</a>
      <div class="dropdown-content" >
          <a class="dropdown-item" href="https://learn.zybooks.com/zybook/CUNYCSCI355TeitelmanSpring2019">Zybook</a>
          <a class="dropdown-item" href="#">Placeholder</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropdown-btn" href="/portfolio/queens-college/phases">Search</a>
      <div class="dropdown-content" >
        <a class="dropdown-item" href="/portfolio/queens-college/phases/1"> Phase Two</a>
        <a class="dropdown-item" href="/portfolio/queens-college/phases/3"> Phase Three</a>
        <a class="dropdown-item" href="/portfolio/queens-college/phases/4"> Phase Four</a>
        <a class="dropdown-item" href="#"> Phase Five</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropdown-btn" href="#"> Browser </a>
      <div class="dropdown-content">
        <a class="dropdown-item" href="/browser/queens-college/browser/navigator-info">Navigator</a>
        <a class="dropdown-item" href="/browser/queens-college/browser/window-info">Window Info</a>
        <a class="dropdown-item" href="/browser/queens-college/browser/screen-info">Screen Info</a>
        <a class="dropdown-item" href="/browser/queens-college/browser/location-info">Location Info</a>
        <a class="dropdown-item" href="/browser/queens-college/browser/geolocation">Geolocation</a>
      </div>
    </li>
    <li class="dropdown" >
      <a class="dropdown-btn" href="#">About</a>
      <div id="dropdown-about" class="dropdown-content">
        <a class="dropdown-item" href="/about-me">Developer(s)</a>
        <a class="dropdown-item" href="/contact">Contact Me</a>
      </div>
    </li>
  </ul>
</nav>
