<form>
    <input #search type="text">

    <button (click)="userSearch(search)" type="submit">Search</button>
</form>


<div id="dummyContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus pharetra orci, id faucibus ex feugiat non. Aenean molestie in nulla et sollicitudin. Fusce sed lectus in arcu tempus cursus. Cras malesuada nunc urna, non venenatis quam condimentum sit amet. Suspendisse non euismod est. Donec varius interdum mi. Proin imperdiet interdum pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus maximus non metus quis aliquam. Duis vestibulum ipsum dui, id facilisis ex rhoncus ut.

Sed ut fringilla nh. Suspendisse potenti. Duis faucibus tellus lacus. Vivamus malesuada auctor turpis, sed tempus justo lacinia non. Curabitur pharetra, mauris sit amet faucibus mattis, est est dictum mi, nec viverra arcu nisi ac mi. Nullam auctor quam sit amet semper sodales. Sed blandit odio ut risus feugiat, non dictum turpis bibendum. Nullam velit mi, gravida at posuere non, aliquet in magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pretium nunc rhoncus sem semper, ut consequat nunc tincidunt. Sed eu scelerisque elit. Praesent commodo mattis eros in tristique.

Quisque sed ultricies augue.  nec finibus ipsum egestas ut. Cras ultrices neque eget tortor dapibus hendrerit. Fusce ac libero a tortor dictum sollicitudin. Mauris vel leo in diam ultrices mattis. Donec eros dolor, mollis non nulla eu, faucibus malesuada lectus. Duis ornare egestas dolor id sodales. Aenean rutrum nibh nulla, id tempor diam maximus et. Mauris viverra ex ornare diam pharetra, sit amet congue odio pretium. Etiam mollis libero diam, a aliquam leo tempus vel. Donec tincidunt, turpis sit amet tincidunt vehicula, sem elit varius risus, ac placerat magna purus et orci. Donec ultricies.
</div>