
<span
 (click)="triggerNav()"
 id="hamburger" 
 class="hamburger"></span>


<div 
 [ngClass]="{container: true, display: openNav === 'open', noDisplay: openNav === 'close'}">
  <nav class="nav-content" >
    <li>
      <a>
        <span class="outer-span" >
          <span class="inner-span">
          Home
          </span>
        </span>
      </a>
    </li>
    <li>
      <a>
        <span class="outer-span" >
          <span class="inner-span">
          Portfolio
          </span>
        </span>
      </a>
    </li>
    <li>
      <a>
        <span class="outer-span" >
          <span class="inner-span">
          About
          </span>
        </span>
      </a>
    </li>
    <li>
      <a>
        <span class="outer-span" >
          <span class="inner-span">
          Contact
          </span>
        </span>
      </a>
    </li>
  </nav>
</div>