<div class="container">
    <app-school-nav></app-school-nav>

    <div class="top-circle"></div>
    <img class="qc-logo" src="../../assets/images/Queens_College_Logo.svg.png" />

    <header class="banner">
        <img id="bitmoji-head" src="../../assets/images/bitmoji-head.png" />
    </header>

    <section class="content">
        <h2> What I'm currently working on, </h2>
        <button id="cta-btn" >
            <a href="/portfolio/queens-college/phases" id="btn-detail">Search And Report</a>
        </button>
    </section>

    <span id="arrow-down" >
        <img src="../../assets/images/arrow-down.png" />
    </span>
</div>

