@import '../../../../styles.scss';
.container-mobile {
  font-family: $navFont;
  height: 100%;
}

.phase-header{
  font-family: $navFont;
}

#back-btn {
  position: absolute;
  top: 25px;
  left: 3%;
}

.search-bar {
  padding-top: 60px;
  background-color: #F1F1F2;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.search-input {
  border: 0;
  width: 80%;
  height: 30px;
  border-radius: 20px 0px 0px 20px;
  padding-left: 15px;
  outline: none;
}

.btn {
  background-color: #263659;
  border-radius: 20px 20px 20px 20px;
  border: none;
  color: white;
  font-family: $navFont;
}

.search-btn {
  background-color: #263659;
  border-radius: 20px 20px 20px 20px;
  border: none;
  color: white;
  font-family: $navFont;
}

#arrow-up {
  position: fixed;
  right: 2%;
  bottom: 1%;
  z-index: 10;
}

#current-phase {
  text-align: center;
}

input[type="file"] {
  display: none;
}

.btn {
  font-family: $navFont;
  letter-spacing: .05em;
}

#back-btn {
  font-family: $navFont;
}


//Changing the file buttons display

@media(min-width: 0px) and (max-width: 500px){
  .file-controls {
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 40px auto;
    box-shadow: 0px 0px 10px black;
    height: 55vh;
    padding: 30px;
  }

  .filename {
    width: 100%;
    text-align: center;
    font-size: $mbLargeFont;
  }

  .file-buttons{
    flex-direction: column;
    display: flex;
    margin-top: 40px;
    height: 80%;
    justify-content: space-around;

  }

  .btn {
    background-color: #263659;
    border-radius: 20px 20px 20px 20px;
    border: none;
    color: white;
    width: 220px;
    height: 50px;
    font-size: 17px;
  }
}

@media(min-width: 500px) and (max-width: 800px){
  
}

@media(min-width: 0px) and (max-width: 800px){
  .file-wrapper {
    display: flex;
    flex-direction: row;
  }

  .file-controls {
    display: flex;
  }
}



@media (min-width: 0px) and (max-width: 500px) {
  #current-phase {
    font-size: 25px;
  }
}

@media (min-width: 500px) and (max-width: 870px) {
  #current-phase {
    font-size: 35px;
  }
}

@media (min-width: 0px) and (max-width: 870px) {
  #back-btn {
    font-size: 10px;
  }
  .search-input {
    font-size: 15px;
  }
  .search-btn {
    font-size: 15px;
    width: 200px;
    height: 40px;
  }
}

// LARGE DISPLAY CSS
@media (min-width: 870px) and (max-width: 1440px) {
  .container-large-display {
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
  }
  .container-large-search {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .current-phase-block {
    margin: 0;
    position: absolute;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 290px;
    left: -450px;
    width: 1005px;
    box-shadow: 0px 0px 10px grey;
    background-color: white;
    font-family: $navFont;
    h1 {
      font-size: 115px;
      margin: 0;
    }
  }
  .search-content-large {
    align-self: center;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 50px gray;
    width: 65%;
    height: 600px;
    display: flex;
    flex-direction: row;
  }
  .search-content-large-left {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    .search-form-wrapper-large {
      margin: 20px auto;
    }
    .search-result-container-large {
      align-self: center;
      width: 100%;
      height: 100%;
    }
    .search-input-large {
      width: 200px;
      height: 30px;
    }
    .search-button-large {
      margin-left: 30px;
      height: 40px;
      width: 70px;
      background-color: gray;
    }
  }
  .search-content-large-right {
    flex: 1;
    height: 100%;
    box-shadow: -4px 0px 10px 1px #aaaaaa;
  }




  .search-bar{
    padding-top: 15px;
  }

  .phase-header {
    font-size: 35px;
  }

  .search-btn {
    font-size: 15px;
    width: 200px;
    height: 40px;
  }

  .btn {
    width: 150px;
    height: 35px;

  }

  // FILE BUTTONS AND FLOATING BOX
  .file-data-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    height: 515px;
    width: 70%;
    margin: 40px auto;
    box-shadow: 0px 0px 10px black;

    .search-checklist{
      flex:1;
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }

    .phase-three-comp {
      flex: 3;
      overflow: scroll;
      border-left: 3px solid black;
      border-right: 3px solid black;
      padding: 0px 10px;

    }

    .file-controls {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: flex-start;
      margin-top: 15px;
    }
  }


  .file-controls > div {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;

  }

  .file-buttons {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      height: 70%;

  }

  //SAVED RESULTS COMPONENT ON LEFT SIDE OF RESULTS
  .saved-results-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
