@import '../../styles.scss';
#back-btn {
  font-family: $navFont;
  position: absolute;
  top: 25px;
  left: 3%;
}

@media(min-width: 800px) and (max-width: 1900px) {
  .phase-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F2;
    .current-phase {
      font-size: 35px;
      margin: 0px;
      font-family: $navFont;
    }
  }
  .file-data-wrapper {
    position: relative;
    height: 515px;
    width: 80%;
    margin: 40px auto;
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
    padding-bottom: 35px;
  }
  .filter-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selected-filters {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-around;
  }
  .search-form-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 20px 0px;
    .search-form {
      width: 70%;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .search-input {
      border: 0;
      width: 60%;
      height: 30px;
      border-radius: 20px 0px 0px 20px;
      padding-left: 15px;
      outline: none;
      font-size: 15px;
    }
    .search-btn {
      background-color: #263659;
      border-radius: 0px 20px 20px 0px;
      border: none;
      color: white;
      height: 32px;
    }
  } // Section for the results when user searchs
  .search-display {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    height: 93%;
    .search-saved-results {
      max-width: 250px;
      min-width: 250px;
      text-align: center;
      overflow: scroll;
      border-right: 3px solid black;
    }
    .search-results {
      flex: 3;
      padding: 30px;
      height: 88%;
      overflow-y: scroll;
    }
  }
  .search-title {
    font-size: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
  }
  .search-description {
    width: 90%;
  }
  .saved-btn {
    background-color: #263659;
    border-radius: 20px 20px 20px 20px;
    border: none;
    color: white;
    height: 30px;
    width: 100px;
    margin-bottom: 15px;
  }
}
