/* You can add global styles to this file, and also import other style files */


//Navigation font
$navFont: 'Montserrat', sans-serif;
$mbLargeFont: 32px;


html {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}