<div 
  *ngIf="!isLargeDisplay"
  class="container-mobile" >
  <span id="back-btn"><a href="/portfolio/queens-college/phases">Back</a></span>

  <div #scrollTo id="search-bar" class="search-bar">
    <div id="current-phase">
      <p> Phase One</p>
    </div>
    <form (ngSubmit)="onSubmit($event)" class="search-form" >
      <input
        disabled="true" 
        class="search-input"
        placeholder="What's the meaning of life?" 
        type="text" />

      <button
      [disabled]="true"
      class="search-btn"
      type="submit">Search</button>
    </form>
  </div>

    <span 
    *ngIf="displayScrollUp"
    (click)="scrollTop(scrollTo)"
    id="arrow-up" >
        <img src="../../../assets/images/upload.png" />
    </span>

    <app-phase-result></app-phase-result>
</div>

