@import '../../../../styles.scss';


.container {
    font-family: $navFont;
}

#back-btn {
    position: absolute;
    top: 25px;
    left: 3%;
}


.search-bar {
    padding-top: 60px;
    background-color: #F1F1F2;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 15px;
}



.search-input {
    border: 0;
    width: 80%;
    height: 30px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 15px;
    outline: none;
}

.search-btn {
    background-color: #263659;
    border-radius: 0px 20px 20px 0px;
    border: none;
    color: white;
}

#arrow-up {
    position: fixed;
    right: 2%;
    bottom: 1%;
    z-index: 10;
}

#current-phase{
    text-align: center;
}







@media (min-width: 0px) and (max-width: 500px) {
    #current-phase{
        font-size: 25px;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    #current-phase {
      font-size: 35px;
    }

}



@media (min-width: 0px) and (max-width: 800px){
    #back-btn {
        font-size: 10px;
    }


    .search-input {
        font-size: 15px;
    }

    .search-btn {
        font-size: 13px;
    }
}

@media (min-width: 800px) and (max-width: 1440px) {
    #current-phase{
        font-size: 40px;
    }

    .search-input {
        height: 40px;
    }
}


